# Ignore all executables
*.out
*.exe
*.app

# Ignore object files
*.o
*.obj

# Ignore compiled libraries
*.a

# Ignore any other binary files you want to exclude

*.DS_Store
*.sh
UA/C/s7-cuad
UA/C/.clang_format
UA/C/p5.dSYM/Contents
UA/C/p5
UA/CPP/ex_jun23/.idea
UA/CPP/ex_jun23/cmake-build-debug/.cmake/api/v1
UA/CPP/ex_jun23/cmake-build-debug
UA/CPP/Practicas/p1/.cache/clangd/index
UA/CPP/Practicas/p1/autocorrector-prac1
UA/CPP/Practicas/p1/build
UA/CPP/exOpp_jun23/.idea
UA/CPP/exOpp_jun23/cmake-build-debug

UA/CPP/testingCPP/cmake-build-debug/

UA/CPP/testingCPP/test

UA/CPP/examenes/exOpp_jun23/cmake-build-debug/

UA/CPP/examenes/ex_jun23/cmake-build-debug/
UA/CPP/examenes/exOOP_jul23/cmake-build-debug

UA/CPP/examenes/ex_jul23/cmake-build-debug/
UA/C/practica_recu/test2
UA/C/practica_recu2/examen3
pre-UA/C/Algorithms/binSearch
UA/C/PR5/ejercicio1.dSYM/Contents
/UA/year-2/OS/practica2/server
/UA/year-2/OS/practica2/cliente
UA/year-2/OS/practica2/memoria/memoria.synctex.gz
UA/year-2/OS/practica2/48795869N - p2.zip
UA/year-2/OS/practica2/48795869N - p2
.vscode/c_cpp_properties.json
/UA/year-2/OS/practica3/build


/UA/year-2/ADA/Practica 1/.vscode
UA/year-2/AC/Fase 1/memoria.bbl
.gitignore
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/.vs/EjerciciosEnsamblador
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Ejemplo1/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Ejemplo2/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Ejemplo2/x64/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/BubbleSortSSE2/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Fast Data Transfer/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Inner Product/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/MatrixVectorMult/Debug
/.vs
/UA/year-2/AC/GPGPU/CUDA/0X-Matrix-2D/build
/UA/year-2/AC/GPGPU/CUDA/0X-Matrix-2D/result
/UA/year-2/AC/GPGPU/CUDA/01-HelloGPU/build
/UA/year-2/AC/GPGPU/CUDA/01-HelloGPU/result
UA/year-2/AC/GPGPU/CUDA/02-DeviceQuery/build
UA/year-2/AC/GPGPU/CUDA/02-DeviceQuery/result
UA/year-2/AC/GPGPU/CUDA/03-VectorAdd1D/build
UA/year-2/AC/GPGPU/CUDA/03-VectorAdd1D/result
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/.vs/CopilotSnapshots/0166ACABF7F3934BB4903951EE8563C2
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Fibonnaci/Debug
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/.vs/CopilotSnapshots/4C421580C31A824D9C10BC356FA8C97A
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Fibonnaci/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/BubbleSortSSE2/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Ejemplo1/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Ejemplo2/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Fast Data Transfer/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Inner Product/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/MatrixVectorMult/Release
/UA/year-2/AC/Fase2/EjerciciosEnsamblador/Fibonnaci/log.benchmark.txt
UA/year-2/PED/cuadernillo-1/TListaCom_PRUEBA/tad01.cpp
/UA/year-2/AC/Fase3/Individual/vectoraddGPU/.vs/vectoraddGPU
/UA/year-2/AC/Fase3/Grupal/SOM/.vs/SOM
