#
# Sample config file for use with Visual Studio 7 compilers on 32-bit
# Microsoft Windows.
#
# This config file neither includes any benchmark specific peak tuning,
# nor base flags for optimum performance, but can be used as a 
# starter config file.
# Also, this config file can be used only to compile and run the
# C and C++ benchmarks. It does not use any fortran compiler.
#
# To run, type this command:
#   runspec -c win32-x86-vc7.cfg -T base -n 3 -l -I 
#
# If your CPU has support for SSE2 (e.g. Intel Pentium 4 or later, 
#  AMD Athlon64/Opteron or later), and if you are using Visual Studio
#  .Net 2003 (or later) compiler, you can turn on SSE2 specific
#  optimizations by doing:
#    runspec -c win32-x86-vc7.cfg -T base -e vc7.sse2 -n 3 -l -I 
# 
# This config file has been tested with VC .Net 2002 and VC .Net 2003.
#


VENDOR        = 
action        = validate
tune          = base
output_format = asc
ignore_errors = yes
ext           = vc7.x87.exe
runlist	      = int 177 179 183 188


#########################################################
# Compiler selection
#########################################################

default=default=default=default:
FC    = 
F77   =
CC    = cl
CXX   = cl

#########################################################
# Baseline optimization.
#########################################################

# NOTE: 176.gcc needs /Op to get the correct answer. 
default=base=default=default:
COPTIMIZE   = /Ox /GL /Op
CXXOPTIMIZE = /Ox /GL /GX /GR
basepeak=yes

default=base=vc7.sse2=default:
COPTIMIZE   = /Ox /GL /arch:SSE2 /Op
CXXOPTIMIZE = /Ox /arch:SSE2 /GX /GR
basepeak=yes

#########################################################
# Portability flags
#########################################################

176.gcc=default=default=default:
EXTRA_CFLAGS = -Dalloca=_alloca
EXTRA_LDFLAGS = -F10000000 
LDOPT = -Fe$@ -link -stack:10000000

# Note: galgel portability commented out since no Fortran 
#  compiler is set.

#178.galgel=default=default=default:
#EXTRA_FFLAGS = -fixed 
#LDOPT = -Fe$@ -link -stack:300000000
##OBJOPT= -Fo$@

186.crafty=default=default=default:
EXTRA_CFLAGS = -DNT_i386

252.eon=default=default=default:
SOURCE_PREFIX_CXX = -TP
CXXPORTABILITY = -DHAS_ERRLIST

253.perlbmk=default=default=default:
EXTRA_CFLAGS = -DSPEC_CPU2000_NTOS -DPERLDLL /MT

254.gap=default=default=default:
EXTRA_CFLAGS=-DSYS_HAS_MALLOC_PROTO -DSYS_HAS_CALLOC_PROTO

__MD5__
164.gzip=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:54:39 2017
optmd5=c1fc1a1e05581dea607d56a5d5a1d52b
exemd5=286f725cfb21c280ee0fb4896e47f8ff

175.vpr=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=6ca6b0c88d8372784c279c03888eb25c
exemd5=3907137451457a8cafa3ebc8d5e5202e

176.gcc=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=186b1dd8eb7f68270b1086027acb73e6
exemd5=4748154bfcad3856764acb82512aa1b5

181.mcf=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=234ed6ad56b68b295e3f1106483c41f3
exemd5=126b74a0515f629ca1db317660d90b15

186.crafty=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=cfc17fc24e8898d7ad3ee67b83570faf
exemd5=b6600602579e106c23f589030cd53304

197.parser=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=f8c4887236163109ce36ea28941670da
exemd5=64ee6c52f8f15bb875af323433267cd4

252.eon=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=4dae2ee07a2b0990f192781578d82a11
exemd5=b406e8b291f13f0ce686cc2b2f92d11d

254.gap=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=adcb72710c6a226bda3af150eda15333
exemd5=428f3144b2828183708f13958f93562e

255.vortex=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=8c13d909cd2069e980f469b28860c6ab
exemd5=5f8335343d1a45593ca43fb9ef0734e0

256.bzip2=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=5c83d6d1bc30d6de48f8a3d6c9a05918
exemd5=124f86785f5b133521ced362096d91ff

300.twolf=base=vc7.x87.exe=default:
# Last updated Mon Feb 27 19:59:28 2017
optmd5=19b93fadc04e01b5b4234c29c484aac5
exemd5=ae4571a3b2c6abb015e1bb70b8375e01

